name: Coveralls

on:
  - push

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Setup
      uses: actions/setup-node@v6.1.0
      with:
        node-version: 24.x

    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Install
      run: npm ci

    - name: Test
      run: npm test -- --silent --coverage

    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v2.3.6
