name: npm

on:
  release:
    types:
      - published

permissions:
  id-token: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:

    - name: Setup
      uses: actions/setup-node@v6.1.0
      with:
        node-version: 24.x
        registry-url: https://registry.npmjs.org

    - name: Checkout
      uses: actions/checkout@v6.0.1

    - name: Install
      run: npm ci

    - name: Build
      run: npm run build

    - name: Publish
      run: npm publish
